<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="shared-styles.html">
<dom-module id = "my-mongocomponente">
  <template>

    <style>
      :host {
        display: inline-block;
        background-color: pink;
      }
    </style>
    <div><span>Mi primer componente Polymer con Mongo</span></div>
    <div>
        <h3><span>___________________________________________________________________</span></h3>
    </div>

<!-- Bloque para introducir los datos del nuevo post. -->
    <div>
      Titulo:
      <input type="text" name="tituloInput"/>
      <p>
      Texto:
      <input type="text" name="textoInput"/>
      <p>
      Autor:
      <input type="text" name="textoNombre"/><input type="text" name="textoApellido"/>
    </div>

<!-- Pintamos botones -->
    <div>
      <button type="button" name="btnGrabarPost" on-click="grabarPosts">Añadir post</button>
      <button type="button" name="btnObtenerPosts" on-click="obtenerPosts">Obtener posts</button>
    </div>
    <p>
    <div>
        <h3><span>___________________________________________________________________</span></h3>
    </div>

    <template is="dom-repeat" items="[[posts]]">
      <div>
        <b>Título:</b> [[item.titulo]], <b>Texto:</b> [[item.texto]]<p>
      </div>
    </template>
  </template>

  <script>

      // Heredamos del Polymer element.

      Polymer({
        is: 'my-mongocomponente',
        properties: {
          url: {
            type: String,
            value: "https://api.mlab.com/api/1/databases/bootcamp/collections/posts?apiKey=VVCP2mSemwKh8gaeAbhw3kOQ2hXrkpNy"
          },
          posts: {
            type: Array,
            notify: true,
            //Cuando cambia refresca automáticamente
          }
        },
        listeners: {
        },
        grabarPosts: function() {
          var titulo = document.getElementsByName("tituloInput")[0].value;
          var texto = document.getElementsByName("textoInput")[0].value;
          var nombre = document.getElementsByName("textoNombre")[0].value;
          var apellido = document.getElementsByName("textoApellido")[0].value;
          console.log("Titulo: " + titulo + ", Texto: " + texto + "Nombre: " + nombre + " " + apellido);
          var peticion = new XMLHttpRequest();
          peticion.open("POST", this.url, true);
          peticion.setRequestHeader("Content-Type", "application/json");
          peticion.send('{"titulo":"' + titulo + '", "texto": "' + texto + '", "autor":{"nombre":"' + nombre + '", "apellido": "' + apellido + '"}}');
        },
        obtenerPosts: function() {
          var peticion = new XMLHttpRequest();
          peticion.open("GET", this.url, false); //true = asincrono
          peticion.setRequestHeader("Content-Type", "application/json");
          peticion.send();
          var response = JSON.parse(peticion.responseText);
          this.posts = response;
          sessionStorage["posts"] = peticion.responseText;
//          console.log("ROD: " + response);
//              para depurar log

        }
      })
    </script>
</dom-module>
